language: java
dist: xenial
jdk: openjdk11
cache:
  directories:
    - ${HOME}/cache/watchdog
    - ${HOME}/cache/clamav
    
before_script:
  - export WATCHDOG_BASE="${HOME}/cache/watchdog/"
  - RET=$(git -C "${WATCHDOG_BASE}" rev-parse HEAD || echo "NO_GIT")
  - if [ $RET == "NO_GIT" ]; then rm -r "${WATCHDOG_BASE}"; git clone --depth=1 --branch master 'https://github.com/klugem/watchdog' "${WATCHDOG_BASE}"; fi
  - git -C "${WATCHDOG_BASE}" pull -f
  - git -C "${WATCHDOG_BASE}" rev-parse HEAD
  - export WATCHDOG_PR_CHECKER="${WATCHDOG_BASE}jars/moduleValidator.jar"
  - ls "${WATCHDOG_PR_CHECKER}" > /dev/null 2>&1
  
stages:
  - test1
  - test2
  - scan
  
matrix:
  include:
    - stage: stage1
      name: 'signed commit test'
      env: TEST_NAME='SIGNED_COMMIT'
    - name: 'separate module test'
      env: TEST_NAME='SINGLE_MODULE'
    - stage: stage2 
      name: 'write permission test'
      env: TEST_NAME='WRITE_PERMISSION'
    - name: 'XSD validation test'
      env: TEST_NAME='XSD_VALIDATION'
    - name: 'XML documentation test'
      env: TEST_NAME='XML_DOCUMENTATION'
    - stage: stage3
      name: 'virus scan test'
      script: /bin/bash "${WATCHDOG_BASE}/helper_scripts/travisCI_clamAV.sh"

script: java -jar "${WATCHDOG_PR_CHECKER}" -check "${TEST_NAME}"
